{% load static %}
<div class="container my-2">
    <div class="row navbar navbar-light mb-3 text-monospace ">
        <h5 class="text-uppercase font-weight-lighter">Sales List</h5>
    </div>
    <style type="text/css">
        .parent .row:hover {
            background-color: gray;
            box-shadow: 0 1rem 1.5rem rgba(0,0,0,.07)!important;
          }
    </style>
    <!-- content -->
    <div class="text-monospace">
        {% if not sales %}        
            <div class="d-flex justify-content-center">
                <p>No sales available yet!</p>
            </div>
        {% else %}
            <div class="row text-muted border-bottom mb-2">
                <div class="col-3 pl-3">Name</div>
                <div class="col-1 pl-0">Quantity</div>
                <div class="col-1 pl-0">Unit Price</div>
                <div class="col-2 pl-3">Total Amount</div>
                <div class="col-2 pl-3">Seller</div>
                <div class="col-3 pl-3">Date of Sell</div>

            </div>
            {% for sale in sales %}
                <div class="parent">
                    <div class="row highlight bg-light mb-2 py-2">
                        <div class="col-3 pl-3">{{ sale.name }}</div>
                        <div class="col-1 pl-0">{{ sale.quantity }}</div>
                        <div class="col-1 pl-0">{{ sale.unit_price }}</div>
                        <div class="col-2 pl-3">{{ sale.total_amount }}</div>
                        <div class="col-2 pl-3">{{ sale.sold_by }}</div>
                        <div class="col-3 pl-3">{{ sale.sold_at }}</div>
                    </div>
                </div>
            {% endfor %}

            <div id="page" class="pagination justify-content-end mt-4"> 
                <span class="step-links">
                    <span>
                        {% if page_obj.has_previous %}
                            <a class="btn" href="#{% url 'sales' %}?page={{ page_obj.previous_page_number }}">PREVIOUS</a>
                        {% else %}
                            <a href="#" class="btn disabled text-muted">PREVIOUS</a>
                        {% endif %}
                    </span>
                    <span>
                        Page {{ page_obj.number }} of {{ paginator.num_pages }}
                    </span>
                    <span>
                        {% if page_obj.has_next %}
                            <a class="btn" href="#{% url 'sales' %}?page={{ page_obj.next_page_number }}">NEXT</a>
                        {% else %}
                            <a href="#" class="btn disabled text-muted">NEXT</a>
                        {% endif %}
                    </span>
                </span>
            </div>
        {% endif %}
    </div>
    <!-- End of content -->
</div>