{% load widget_tweaks %}

{% block content%}
    <script type="text/javascript">
        $(document).ready(function () {
            selected = $("select option:selected").val();
            if (selected == ""){
                $("select option:selected").remove();
            }
            $("select").editableSelect();
        });
    </script>
    <div class="modal fade" tabindex="-1" role="dialog" id="modal" style="z-index: 50px">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content"></div>
        </div>
    </div>
    <div class="container">
        <form method="post" action="{% url 'expense' %}">
        {% csrf_token %}
            <div class="modal-header my-0">
                <h5 class="modal-title">ADD INCURRED EXPENSES</h5>
            </div>
            <div class="modal-body my-0">
                <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
                    {% for error in form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                </div>
                <div class="form-row">
                    {% for field in form %}
                        {% if field.name not in 'description,created_by' %}
                            <div class="form-group col-md-6 {% if field.errors %} invalid{% endif %}">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {% render_field field class="form-control" placeholder=field.label %}
                                {% for error in field.errors %}
                                    <p class="help-block">{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}
                    {% for field in form %}
                        {% if field.name in ',description' %}
                            <div class="form-group col-md-12 {% if field.errors %} invalid{% endif %}">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {% render_field field class="form-control" rows="5" placeholder=field.label %}
                                {% for error in field.errors %}
                                    <p class="help-block">{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="form-group justify-content-start">
                    <button type="submit" class="btn-primary py-1"><i class="fa fa-money mr-1"></i>ADD EXPENSE</button>
                    <button type="reset" class="border-primary text-primary px-3 py-1" rel="modal:close">CANCEL</button>
                </div>
            </div>
        </form>
    </div>
    <div class="container" >
        <div class="row text-muted border-bottom border-top py-2 mb-2 font-weight-bold">
            <div class="col-3 pl-3">Category</div>
            <div class="col-4 pl-0">Description</div>
            <div class="col-2 pl-3">Amount</div>
            <div class="col-3 pl-3">Action</div>
        </div>
    </div>
    {% for expense in expenses %}
        <div class="container" >
            <div class="row highlight bg-light mb-2 py-2">
                <div class="col-3 pl-3">{{ expense.category }}</div>
                <div class="col-4 pl-0">{{ expense.description }}</div>
                <div class="col-2 pl-3">{{ expense.amount }}</div>
                <div class="col-3 pl-3">
                    <a class="btn btn-sm"
                        title="Edit Expense"
                        href="{% url 'edit_expense' expense.id %}"
                        rel="modal:open"><i class="fa fa-edit mr-1"></i>Edit</a>
                    <a class="btn btn-sm text-danger"
                        title="Delete Expense"
                        href="{% url 'delete_expense' expense.id %}"
                        rel="modal:open"><i class="fa fa-trash mr-1"></i>Delete</a></div>
            </div>
        </div>
    {% endfor %}
    {% if not total_expenses.amount__sum is None  %}
        <div class="container mb-5">
            <div class="row text-muted border-bottom border-top pt-2 mb-2 font-weight-bold">
                <div class="col-7 pl-3">Grand Total</div>
                <div class="col-5 pl-3">{{ total_expenses.amount__sum }}</div>
            </div>
        </div>
    {% endif %}
{%endblock%}