<div class="header">
    <table>
        <h6 class="title">
            <tbody>
                <tr>
                    <td valign="top">
                        <img class="image" src="/static/images/logo1.png" alt="Logo">
                        &nbsp; {{ company.name }}</td>
                </tr>
                <tr>
                    <td valign="top">
                        <small>{{ company.address }}</small>
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        <small> Tel: {{ company.tel }}</small>
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        <small> Date: {{ company.date }}</small>
                    </td>
                </tr>
                <tr>
                    <td valign="bottom"><strong><br />{{ company.title }}</strong></td>
                </tr>
            </tbody>
        </h6>
    </table>
</div>