{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.modal.min.css' %}">
  <script src="https://code.highcharts.com/highcharts.src.js"></script>
  <script type="text/javascript" src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.form.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.modal.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery-editable-select.min.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-editable-select.min.css' %}">
  <title>SuperMarket Management System{% block title %}{%endblock%}</title>
</head>
<body class="text-monospace" id="index">
  {% block header %}{%endblock%}
  {% block content %}{%endblock%}
  {% block footer %}{%endblock%}
</body>
</html>