{% load widget_tweaks %}

{% block content%}
    <form method="post" action="{% url 'edit_role' role.id %}">
    {% csrf_token %}
        <div class="modal-header my-0">
            <h5 class="modal-title text-primary">EDIT ROLE</h5>
        </div>

        <div class="modal-body my-0">
            <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
            </div>

            {% for field in form %}
                <div class="form-group">
                    {% if field.name in ',description' %}
                        <div class="{% if field.errors %} invalid{% endif %}">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {% render_field field class="form-control" rows="5" placeholder=field.label %}
                            {% for error in field.errors %}
                                <p class="help-block">{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% else %}
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {% render_field field class="form-control" placeholder=field.label %}
                        <div class="{% if field.errors %} invalid{% endif %}">
                            {% for error in field.errors %}
                                <p class="help-block">{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}

            <div class=" row form-group table-responsive-sm">
                <label for="user_perm">Permission Level</label>
                <table class="table table-sm table-borderless">
                    <tbody>
                        <tr>
                            <td><small>Access Level</small></td>
                            <td><small>Full Access</small></td>
                            <td><small>Add</small></td>
                            <td><small>View</small></td>
                            <td><small>Edit</small></td>
                            <td><small>Delete</small></td>
                        </tr>
                        <fieldset>
                            <tr>
                                <td><small>User</small></td>
                                {% if role_perms|length == 4 %}
                                    <td><input type="checkbox" name="user_perm" value="full" checked></td>
                                {% else %}
                                    <td><input type="checkbox" name="user_perm" value="full"></td>
                                {% endif %}
                                {% if 'add_user' in role_perms %}
                                    <td><input type="checkbox" name="user_perm" value="add_user" checked></td>
                                {% else %}
                                    <td><input type="checkbox" name="user_perm" value="add_user"></td>
                                {% endif %}
                                {% if 'view_user' in role_perms %}
                                    <td><input type="checkbox" name="user_perm" value="view_user" checked></td>
                                {% else %}
                                    <td><input type="checkbox" name="user_perm" value="view_user"></td>
                                {% endif %}
                                {% if 'change_user' in role_perms %}
                                    <td><input type="checkbox" name="user_perm" value="change_user" checked></td>
                                {% else %}
                                    <td><input type="checkbox" name="user_perm" value="change_user"></td>
                                {% endif %}
                                {% if 'delete_user' in role_perms %}
                                    <td><input type="checkbox" name="user_perm" value="delete_user" checked></td>
                                {% else %}
                                    <td><input type="checkbox" name="user_perm" value="delete_user"></td>
                                {% endif %}
                            </tr>
                        </fieldset>
                    </tbody>
                </table>    
            </div>
        </div>

        <div class="modal-footer form-group justify-content-start">
            <button type="submit" class="btn-primary py-1">UPDATE ROLE</button>
            <a href="#close" type="reset" class="btn border border-primary text-primary px-3 py-1" rel="modal:close">CANCEL</a>
        </div>
    </form>
{%endblock%}
