{% extends 'accounts/nav.html' %}

{% block title%}Settings{%endblock%}

{% block content %}
    <script>
        $(document).ready(function() {
            $("#view").load("{% url 'sale' %}");
            $("#index #disp a").click(function() {
                $("a.selected").removeClass("selected")
                $(this).addClass("selected");
                page = "{% url 'sale' %}"
                pageurl = ""
                if ($(this).attr("id") == 'expense'){
                    pageurl = page.replace("sale",$(this).attr("id"));
                    pageurl = pageurl.replace("sale", "expense");
                }else{  
                    pageurl = page.replace("sale",$(this).attr("id"));
                }
                $("#view").load(pageurl);
            });
        });
    </script>
    <div class="container my-4" style="max-width: 90%;">
        <div id=disp class="sidenav">
            <a id =sale class="selected" href="#sale">Sales</a>
            <a id="expense" href="#expense">Expenses</a>
        </div>
        <div class="embed-responsive main" style="max-width: 92%;">
            <div id='view'></div>
        </div>
    </div>
{% endblock %}
